/* Media Query Mixins */
/* function call mq

@include mq(desktop) {
    background-color: aqua;
}

*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #f2f2f2;
  margin: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Lora", serif;
}

footer p {
  font-family: "Montserrat", sans-serif;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.button {
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}
.button.small {
  max-width: 135px;
}
.button.medium {
  max-width: 155px;
}
.button.large {
  max-width: 210px;
}
.button-transparent {
  background-color: transparent;
  color: #fff;
}
.button-transparent:hover {
  background-color: #fff;
  color: #676767;
}
.button-white {
  background-color: #fff;
  color: #676767;
}
.button-white:hover {
  background-color: transparent;
  color: #fff;
}
.button-gray-trans {
  background-color: transparent;
  color: #676767;
  border-color: #676767;
}
.button-gray-trans:hover {
  background-color: #fff;
  color: #676767;
  border-color: #fff;
}

.owl-nav {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.owl-nav i {
  font-size: 30px;
  color: #676767;
}

section, footer {
  margin-bottom: 20px;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.above-track {
  padding: 10px 0px;
}
@media (min-width: 768px) {
  .above-track {
    padding: 30px 0px;
  }
}

.contact-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact-wrap {
    flex-direction: row;
    align-items: center;
  }
}
.contact-wrap .contact {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contact-wrap .contact {
    margin-bottom: 0;
  }
}

.contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    align-items: center;
  }
}
.contact a {
  color: #676767;
  font-size: 12px;
}
@media (min-width: 768px) {
  .contact a {
    font-size: 18px;
  }
}
.contact a:first-of-type {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .contact a:first-of-type {
    margin-right: 60px;
  }
}
.contact a i {
  font-size: 18px;
  margin-right: 20px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .socials {
    gap: 15px;
  }
}
.socials.gray a {
  background-color: #676767;
}
.socials.gray a i {
  color: #fff;
}
.socials.white a {
  background-color: #fff;
}
.socials.white a i {
  color: #676767;
}
.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #fff;
}
@media (min-width: 768px) {
  .socials a {
    height: 25px;
    width: 25px;
  }
}
.socials a i {
  color: #676767;
  font-size: 12px;
}
@media (min-width: 768px) {
  .socials a i {
    font-size: 14px;
  }
}

.navbar {
  padding: 0;
  align-items: end;
  width: 100%;
}
.navbar .navbar-brand img {
  max-width: 120px;
}
@media (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 180px;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar-brand img {
    max-width: 100%;
  }
}
.navbar .hamburger {
  padding: 0;
}
@media (min-width: 992px) {
  .navbar .hamburger {
    display: none;
  }
}
.navbar .hamburger .hamburger-inner, .navbar .hamburger .hamburger-inner:after, .navbar .hamburger .hamburger-inner:before {
  width: 35px;
  background-color: #fff;
}
@media only screen and (max-width: 992px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    background-color: rgba(59, 59, 59, 0.8);
  }
}
.navbar .nav-item {
  padding: 5px 0px;
}
@media (min-width: 992px) {
  .navbar .nav-item {
    padding: 0px 15px;
  }
}
@media (min-width: 1200px) {
  .navbar .nav-item {
    padding: 0px 20px;
  }
}
.navbar .nav-item:first-of-type {
  padding-left: 0;
}
.navbar .nav-item:last-of-type {
  padding-right: 0;
}
@media (min-width: 992px) {
  .navbar .nav-item.active .nav-link {
    border-bottom: 3px solid #fff;
  }
}
.navbar .nav-item .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 0 3px 0;
}
@media (min-width: 1200px) {
  .navbar .nav-item .nav-link {
    font-size: 16px;
  }
}

.hero-section {
  position: relative;
  height: 400px;
}
@media (min-width: 768px) {
  .hero-section {
    height: auto;
  }
}
.hero-section .hero-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .hero-section .hero-img {
    height: auto;
  }
}
.hero-section .play-button {
  max-width: 50px;
}
@media (min-width: 768px) {
  .hero-section .play-button {
    max-width: 100%;
  }
}
.hero-section .search-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.hero-section .search-form i {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
}
.hero-section .form-control {
  border-radius: 0px;
  height: 40px;
}
.hero-section .form-control.large {
  width: 100%;
}
@media (min-width: 992px) {
  .hero-section .form-control.large {
    max-width: 420px;
  }
}
.hero-section .form-control.small {
  width: calc(50% - 10px);
}
@media (min-width: 992px) {
  .hero-section .form-control.small {
    width: 100%;
    max-width: 135px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.hero-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px 15px 20px 15px;
  z-index: 1000;
}
@media (min-width: 768px) {
  .hero-wrap {
    padding: 60px 0px 30px 0px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.services {
  padding: 0px 0 20px 0;
}
@media (min-width: 768px) {
  .services {
    padding: 20px 0 50px 0;
  }
}
@media only screen and (max-width: 560px) {
  .services .col-12 {
    padding: 0;
  }
}

.service-box {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
}
.service-box.darker::before {
  background-color: rgba(255, 255, 255, 0.2);
}
.service-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 100;
}
.service-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.service-box img.zoom-1 {
  -o-object-position: top left;
     object-position: top left;
  transform: scale(1.5);
}
.service-box img.zoom-2 {
  -o-object-position: bottom;
     object-position: bottom;
  transform: scale(2);
}
.service-box img.zoom-3 {
  -o-object-position: left;
     object-position: left;
  transform: scale(1.3);
}
.service-box .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.address {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid #fff;
}
@media (min-width: 992px) {
  .address {
    width: 200px;
  }
}
.address-white {
  color: #676767;
  background-color: #fff;
}
.address-transparent {
  color: #fff;
  background-color: transparent;
}
.address strong {
  text-transform: capitalize;
}

.property-section {
  position: relative;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-bottom: 20px;
}
.property-section-contact {
  height: 530px;
}
@media (min-width: 768px) {
  .property-section-contact {
    height: 430px;
  }
}
.property-section-contact img {
  -o-object-position: bottom !important;
     object-position: bottom !important;
  filter: blur(2px);
}
.property-section-contact .property-title {
  text-align: left !important;
  font-size: 16px !important;
  margin-bottom: 30px;
}
.property-section-contact .form-wrap {
  width: 100% !important;
}
@media (min-width: 600px) {
  .property-section-contact .form-wrap {
    width: 600px !important;
  }
}
.property-section-contact form {
  flex-direction: column !important;
  align-items: flex-start !important;
}
.property-section-contact .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.property-section-contact .contact-wrap {
  width: 100%;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px;
}
@media (min-width: 768px) {
  .property-section-contact .contact-wrap {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
  }
}
.property-section-contact .contact-wrap .contact a {
  font-size: 14px;
  color: #fff;
}
.property-section-contact .contact-wrap .contact a:first-of-type {
  margin-right: 25px;
}
@media (min-width: 768px) {
  .property-section-contact .contact-wrap .contact a {
    font-size: 16px;
  }
}
.property-section-contact .contact-wrap .contact i {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}
.property-section.dark::before {
  background-color: rgba(59, 59, 59, 0.2);
}
.property-section.gray::before {
  background-color: rgba(59, 59, 59, 0.5);
}
.property-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.property-section img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.property-section .property-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.property-section .property-desc {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.property-section .form-wrap {
  width: 660px;
  z-index: 10000;
}
.property-section form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 992px) {
  .property-section form {
    flex-direction: row;
  }
}
.property-section .form-control {
  border-radius: 0;
  border: 2px solid #fff;
}

.section-communities {
  padding: 40px 0px;
}
@media (min-width: 992px) {
  .section-communities {
    padding: 30px 0px 60px 0px;
  }
}

.communities .cutom-padd {
  padding-left: 10px;
  padding-right: 10px;
}

.section-title {
  font-size: 20px;
  font-weight: 500;
  color: #676767;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-wrap {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media (min-width: 992px) {
  .about-wrap {
    flex-direction: row;
    gap: 60px;
  }
}
.about-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 992px) {
  .about-wrap img {
    max-width: calc(50% - 60px);
  }
}
.about-wrap .about-text {
  max-width: 760px;
  padding: 0 20px 20px 20px;
}
@media (min-width: 992px) {
  .about-wrap .about-text {
    padding: 45px 0px;
  }
}
.about-wrap .about-text h3 {
  font-size: 24px;
  font-weight: 900;
  color: #676767;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .about-wrap .about-text h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.about-wrap .about-text h4 {
  font-size: 18px;
  color: #676767;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .about-wrap .about-text h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.about-wrap .about-text p {
  font-size: 16px;
  margin-bottom: 30px;
}
.about-wrap .contact {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.section-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}
@media (min-width: 992px) {
  .section-testimonials {
    height: 470px;
    padding: 0;
  }
}
.section-testimonials .section-title {
  text-align: center;
}
@media (min-width: 992px) {
  .section-testimonials .section-title {
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .testimonials {
    max-width: 1045px;
    margin: 0 auto;
  }
}
.testimonials p {
  margin-bottom: 40px;
  text-align: center;
  font-size: 12px;
  max-width: 90%;
}
@media (min-width: 768px) {
  .testimonials p {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .testimonials p {
    max-width: 100%;
  }
}
.testimonials .owl-dots {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 600px) {
  .testimonials .owl-dots {
    bottom: -80px;
  }
}
@media (min-width: 992px) {
  .testimonials .owl-dots {
    bottom: -100px;
  }
}
.testimonials .owl-nav {
  top: 30%;
  width: 105%;
}
@media (min-width: 1200px) {
  .testimonials .owl-nav {
    width: 115%;
  }
}
.testimonials .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.footer {
  padding: 30px 0px;
}
.footer h5 {
  border-bottom: 1px solid #676767;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 100;
  width: 100%;
}
.footer span {
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}
.footer .footer-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 560px;
  margin-bottom: 20px;
}
.footer .footer-info .info, .footer .footer-info .footer-links {
  width: 100%;
}
@media (min-width: 600px) {
  .footer .footer-info .info, .footer .footer-info .footer-links {
    width: 50%;
  }
}
.footer .footer-info .footer-links {
  display: flex;
  gap: 30px;
}
@media (min-width: 600px) {
  .footer .footer-info .footer-links {
    gap: 0;
    justify-content: space-between;
  }
}
.footer .footer-info .footer-links ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.footer .footer-info .footer-links a {
  color: #676767;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer .footer-info .footer-links a {
    font-size: 13px;
  }
}
.footer .contact {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .footer .contact {
    margin-bottom: 0;
  }
}
.footer .contact a {
  font-size: 14px;
}
.footer .contact a:first-of-type {
  margin-right: 0;
}
.footer p {
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */